@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");

$gray-footer: #fcfcfc !default;
$primary: #111111;
$secondary: #df2644;
$font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
.footer {
  background-color: $primary;
  color: $white;
  a {
    color: $white;
    padding: 0 20px;
    font-family: $font-family;
  }
  a:hover {
    color: $secondary;
  }
  .upper-menu {
    justify-content: center;
  }
}
.boder-right {
  border-right: 1px solid $white;
}
.bottom-menu {
  display: flex;
  justify-content: center;
  li {
    list-style: none;
    a {
      padding: 0 10px;
    }
  }
}
.isDisabled {
  text-decoration: none;
  pointer-events: none;
  color: currentColor;
  cursor: not-allowed;
}
